/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap"; 

body
{
  font-family: 'Raleway', sans-serif;
  background: #e8eaed;
}
.navbar{
	.container{
		.navbar-brand{
			color: black;
			font-weight: 1000;
			font-style: bold;
		}
		.navbar-nav .nav .navbar-right
		{
			#newpost
			{
				a
				{
					color: black;
				}
			}
		}	
	}
}
#posts{
	background: white;
	
	border-radius: 1em;
	width: 70%;
	.post{
		display: inline-block;
		border-bottom: 1px solid #d1d1d1;
		width: 70%; 
		margin: 0 10% 0 3%;
		padding: .7em 0 .2em 5em;
	}
}

#post_content
{
	background: white;
	padding: 2em 5%;
	border-radius: .7em;
	margin: 0 10% 0 8%;
	p
	{
		color: #4f5150;
	}
}